@import url(https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap); /*готический*/
@font-face {
	font-family: "Nexa Script Thin"; /* Гарнитура шрифта */
	src: url("../fonts/Nexa Script Thin.ttf"); /* Для IE5-8 */
	src: local(Nexa Script Thin), url("../fonts/Nexa Script Thin.ttf"); /* Для остальных браузеров */
}
@import url(color.css) screen and (color);

@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 1024px) { div.contentblock {width: 970px;} }
@media screen and (max-width: 800px) { div.contentblock {width: 640px;} }
@media screen and (max-width: 640px) { div.contentblock {width: 400px;} }
@media screen and (max-width: 480px) { div.contentblock {width: 400px;} }
h1 {
	font-size: xx-large;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h2 {
	font-size: x-large;
}
h3 {
	font-size: large;
}
.newspaper {
	padding: 20px;
	background: #e2e2e2;
	font-style: normal;
	font-family: Georgia;
	font-size: medium;
}
.text_head {
	font-size: 66pt;
	font-style: normal;
	font-family: UnifrakturMaguntia, cursive;
}
.card_tip {
	padding: 20px;
	/*margin: 0;*/
	margin-top: 5px;
	background-image: url("../img/fon_card.png");
	font-style: normal;
	font-family: Arial;
	font-size: 19pt;
	line-height: 1em;
}
.card_hend {
	padding: 20px;
	/*margin-top: 6px;*/
	background-image: url("../img/fon_card.png");
	font-style: normal;
	font-family: Nexa Script Thin;
	font-size: 25pt;
	color: #6f326f;
	line-height: 1em;
}
.line_2 {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 0;
}
.hr_top {
	margin-top: 0;
	line-height: normal;
	border-top: 1px solid #000;
	width: 40%;
}
.hr_100 {
	margin-top: 0;
	line-height: normal;
	border-top: 1px solid #000;
}
.hr_bot {
	line-height: normal;
	border-bottom: 1px solid #000;
	width: 40%;
}
.line_2 p {
	margin-top: 0!important;
	margin-bottom: 0!important;
}
.frame {
	 border: 1px solid #000000;
	 padding: 0;
	 margin: 0!important;
 }
.full {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
}
.column_2 {
	-webkit-column-width: 40%;
	-moz-column-width: 40%;
	column-width: 40%;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 5%;
	-moz-column-gap: 5%;
	column-gap: 5%;
	-webkit-column-rule: 1px solid #000000;
	-moz-column-rule: 1px solid #000000;
	column-rule: 1px solid #000000;
}
.column_3 {
	-webkit-column-width: 30%;
	-moz-column-width: 30%;
	column-width: 30%;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 5%;
	-moz-column-gap: 5%;
	column-gap: 5%;
	-webkit-column-rule: 1px solid #000000;
	-moz-column-rule: 1px solid #000000;
	column-rule: 1px solid #000000;
}
.center {
	position: relative;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
 }
.shtamp {
	position: absolute;
	margin: auto;
	top: 0px;
	right: 15px;
}
.poz_1 {
	position: absolute;
	margin: auto;
	top: 15%;
	left: 15%;
}
.poz_2 {
	 position: absolute;
	 margin: auto;
	 top: 15%;
	 left: 50%;
 }
.poz_3 {
	 position: absolute;
	 margin: auto;
	 top: 15%;
	 left: 85%;
}
.poz_4 {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 15%;
}
.poz_5 {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
}
.poz_6 {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 85%;
}
.poz_7 {
	position: absolute;
	margin: auto;
	top: 85%;
	left: 15%;
}
.poz_8 {
	position: absolute;
	margin: auto;
	top: 85%;
	left: 50%;
}
.poz_9 {
	position: absolute;
	margin: auto;
	top: 85%;
	left: 85%;
}
#center {
	text-align: center;
	margin: auto;
}
.text_col p {
	margin-top: 0.5em; /* Отступ сверху */
	margin-bottom: 0.5em; /* Отступ снизу */
	text-indent: 1em; /* Отступ первой строки */
	text-align: justify; /* Выравнивание по ширине */
	/*перенос текста*/
	width: 100%;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}
.line_left {
	border-left: 1px solid #000000;
}
input:hover.link_black {
    background: #bfbfbf; /* Цвет фона */
}
tr:hover.link_black {
	background: #bfbfbf; /* Цвет фона */
}
.w-150 {
	width: 150px;
}
.w-200 {
	width: 200px;
}
.w-250 {
	width: 250px;
}
.w-300 {
	width: 300px;
}
a.link_black {
	color: #000000; /* Цвет ссылок */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a:visited.link_black {
	color: #000000; /* Цвет посещенных ссылок */
	font-weight: bold;
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a:active.link_black {
	color: #5b514e; /* Цвет активной ссылки */
	font-weight: bold;
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a:hover.link_black {
	color: #000000; /* Цвет ссылки при наведении */
	font-weight: bold; /* Жирное начертание */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
	background: #bfbfbf; /* Цвет фона */
}
.fon_skladka {
	background-image: url("../img/skladka.png");
	/*background-color: #e2e2e2;*/
	width: 100%;
	/*background-color: rgba(226, 226, 226, 0.5);*/
	/*opacity: 0.5;*/
}
.fon_card {
	background-image: url("../img/fon_card.png");
	/*background-color: #e2e2e2;*/
	width: 100%;
	/*background-color: rgba(226, 226, 226, 0.5);*/
	/*opacity: 0.5;*/
}
.left {
	margin: 0; /* Обнуляем значение отступов */
	padding-left: 15px; /* Значение полей */
}
.red {
	/*text-decoration-color: #de1111;*/
	text-decoration: #de1111 underline;
	/*text-decoration-line: underline;*/
}
/*hyphens: auto;*/